body {
    background-color: gray;

    /*TODO 2: Center everything horizontally on the screen (including text) */

    display: flex;
    flex-direction: column;
    align-items:center;
    text-align:center;
}

h1 {
    font-weight: bold;
}

img {
max-width: 400px;
height: auto;
border-radius: 23px;
}

.p-red {
    color: red;
}

/* TODO 3: Add style for div so that it contains p. Hint: This should only take one attribute. */

.image-container {
    max-width: 600px;

}
